.menu-logo{
    display:inline-block;
    font-size: 40px;
    color: white;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    width: 500px;
    text-align: center;
}
.logoA, .logoD {
    font-size: 40px;
    display: inline;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}
.logoA{
    color:#FFFFFF;
}
.logoD{
    color:#FF0040;
}
html{
    font-family: 'Mitr',sans-serif;
}
.top-header{
  background-color: black;
  height: 84px;
  width: 100%;
  padding: 10px;

}
.menu-items{
    display: inline-block;
    font-size: 20px;
    color:white;
    padding: 20px;
    text-decoration: none;
    
}

.brand{
  
    color:white;
    font-size: 30px;
    font-weight: 600px;
    text-decoration: none;
    margin: 180px;
}

.room-home{
  width: 100%;
  height: 450px;
  opacity: 80%;
}


.menu-logo{
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}
