{% load i18n %}
{% load account socialaccount %}
{% load static %}

<link rel="stylesheet" href="{% static 'app_general/login.css' %}">
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    {% if form.errors %}
        <div style="color: red; margin-bottom: 10px;">กรุณาตรวจสอบข้อมูลอีกครั้ง</div>
    {% endif %}
    <div class="vl"></div>
<div class="container">
    <form method="post" action="{% url 'login' %}">
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        {% csrf_token %}
        {{ form.login.label_tag }}
        {{ form.login }}

        {{ form.password.label_tag }}
        {{ form.password }}

        <div class="checkbox">
            {{ form.remember }}
            {{ form.remember.label_tag }}
        </div>
        <a href="{% url 'account_reset_password' %}" class="forget">{% trans "ลืมรหัสผ่าน?" %}</a><br>

        <button class="btn-primary" type="submit">{% trans "เข้าสู่ระบบ" %}</button>
    </form>

</div>
<div class="blockright">
    <div class="links">
        <h1>Dont't Have An Account?</h1>
        <button class="btn-primary" type="submit">{% trans "สมัครสมาชิก" %}</button>
    </div>
</div>
<div class="blocklang">
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <div class="divider"><span>หรือ</span></div>
        {% for provider in socialaccount_providers %}
            {% if provider.id == 'google' %}
                <a class="btn-google" href="{% provider_login_url provider.id %}">
                    เข้าสู่ระบบด้วย {{ provider.name }}
                </a>
            {% elif provider.id == 'github' %}
                <a class="btn-github" href="{% provider_login_url provider.id %}">
                    เข้าสู่ระบบด้วย {{ provider.name }}
                </a>
            {% else %}
                <a class="btn-default" href="{% provider_login_url provider.id %}">
                    เข้าสู่ระบบด้วย {{ provider.name }}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
</body>
</html>