{% extends 'app_general/components/base.html' %}
{% load static i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'app_general/login.css' %}">
<div class="header">
  <img src="{% static 'app_general/demon-slayer.jpg' %}" alt="Anime Banner">
  <div class="header-sing">
    <h1>Reset Password</h1>
    <a>อีเมลรีเซ็ตรหัสผ่านถูกส่งเรียบร้อยแล้ว</a>
  </div>
</div>

<div class="container-flex">
  <div class="Login-container hidden-frame" style="text-align:center">
    <h2>โปรดตรวจสอบอีเมลของคุณ</h2>
    <p>เราได้ส่งลิงก์สำหรับรีเซ็ตรหัสผ่านไปยังอีเมลที่คุณให้ไว้</p>
    <p>หากไม่พบอีเมลในกล่องเข้า โปรดตรวจสอบโฟลเดอร์สแปม</p>
    <a class="btn-primary" href="{% url 'account_login' %}">กลับไปหน้าเข้าสู่ระบบ</a>
  </div>
</div>
{% endblock %}
