{% extends 'app_general/components/base.html' %}
{% load static i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'app_general/signup.css' %}">
<div class="header">
  <img src="{% static 'app_general/demon-slayer.jpg' %}" alt="Anime Banner">
  <div class="header-sing">
    <h1>Set New Password</h1>
    <a>ตั้งรหัสผ่านใหม่ของคุณด้านล่าง</a>
  </div>
</div>

<div class="container-flex">
  <div class="signup-container hidden-frame">
    <h1 class="divider"><span>Change Password</span></h1>
    <form method="post" action="">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.password1.errors }}
        {{ form.password1 }}
      </div>
      <div class="form-group">
        {{ form.password2.errors }}
        {{ form.password2 }}
      </div>
      <button type="submit" class="btn-submit">บันทึกรหัสผ่านใหม่</button>
    </form>
  </div>
</div>
{% endblock %}
