{% extends 'app_general/components/base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'app_general/signup.css' %}">

<div class="header">
    <img src="{% static 'app_general/demon-slayer.jpg' %}" alt="Anime Banner">
    <div class="header-sing">
        <h1>Sign Up</h1>
        <a>Welcome to the official Animediary.</a>
    </div>
</div>

<div class="space"></div>

<!-- wrapper flex container -->
<div class="container-flex">

    <!-- กล่องฟอร์มสมัครสมาชิก -->
    <div class="signup-container hidden-frame">
        <h1 class="divider"><span>Sign Up</span></h1>

        <!--<form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
                <!-- {{ form.username.label_tag }} --       
                {{ form.username }}     
                {{ form.username.errors }}
            </div>

            <div class="form-group">
                <!--{{ form.email.label_tag }}--
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="form-group">
                <!--{{ form.password1.label_tag }}--
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>

            <div class="form-group">
                
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

            <button type="submit" class="btn-submit">
                LOGIN NOW
            </button>
        </form>-->
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required>        
            </div>
            
            <div class="form-group">
                <input type="email" name="email" placeholder="Email Address" required>
            </div>
            
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            
            <div class="form-group">
                <input type="password" name="password_confirm" placeholder="Confirm Password" required>
            </div>

            <button type="submit" class="btn-submit">
                LOGIN NOW
            </button>
        </form>
        <p class="login-link">
            Already have an account? <a href="{% url 'account_login' %}">Log In!</a>
        </p>
    </div>

    <div class="center-line"></div>
    <!-- กล่อง Social Login -->
    <div class="blocklang hidden-frame">
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
            <h1 class="divider"><span>Login With</span></h1>
            {% for provider in socialaccount_providers %}
                {% if provider.id == 'google' %}
                    <a class="btn-google" href="{% provider_login_url provider.id %}">
                        <img src="{% static 'app_general/google.png' %}" alt="">
                        <span>Sign in with Google</span>
                        <!--sing in whit {{ provider.name }}*/-->
                    </a>
                {% elif provider.id == 'github' %}
                    <a class="btn-github" href="{% provider_login_url provider.id %}">
                        <img src="{% static 'app_general/github.png' %}" alt="">
                        <span>Sign in with GitHub</span>
                    </a>

                {% else %}
                    <a class="btn-default" href="{% provider_login_url provider.id %}">
                        เข้าสู่ระบบด้วย {{ provider.name }}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    
</div>
 <div class="box"></div>
{% endblock %}
