{%load static%}
<link rel="stylesheet" href="{% static 'app_general/footer.css' %}">


<footer class="footer">
  <div class="footer-container">
    <h3>ติดต่อเรา</h3>
    <ul class="contact-list">
      <li><strong>📞 โทร:</strong> 0980299XXX</li>
      <li><strong>📧 อีเมล:</strong> 66200051@kmitl.ac.th</li>
      <li><strong>💬 Line:</strong> @29112547</li>
      <li><strong>🌐 Facebook:</strong> https://facebook.com/chanasorn</li>
    </ul>
    <p class="copyright">© 2025 Staryu Company. All rights reserved.</p>
  </div>
</footer>
