{%load static%}

<link rel="stylesheet" href="{% static 'app_general/footers.css' %}">

<!--<footer class="footer">
  <header class="footer-container">
    <span class="logA">Anime</span><span class="logD">Diary</span>
    <ul class="contact-list">
      <a>About Us</a>
      <a>FAQ</a>
      <a>Privacy Policy</a>
      <a>Map</a>
    </ul>
    <p class="copyright">© 2025 Staryu Company. All rights reserved.</p>
  </header>
</footer>-->

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="{% url 'home' %}" class="logA" style="text-decoration: none; /* ไม่มีขีดเส้นใต้ */">Anime</a><a href="{% url 'home' %}" class="logD" style="text-decoration: none; /* ไม่มีขีดเส้นใต้ */">Diary</a>
    </div>
    <ul class="footer-links">
      <li><a href="{% url 'about_us'%}">About Us</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="https://guest-messaging.onrender.com">Q&A</a></li>
      <li><a href="https://maps.app.goo.gl/y2oHDTWBYfhBDPqp6">Map</a></li>
    </ul>
    <p class="footer-copyright">
      <span>Copyright © 2025 StaryuTech Company. All rights reserved.</span>
    </p>
  </div>
</footer>