{%load static%}
{%load socialaccount %}
<head>
    <link rel="stylesheet" href="{% static 'app_general/main.css'%}">
    <link rel="stylesheet" href="{% static 'app_general/nav.css'%}">
</head>
<header class="top-header">
    <a href="{% url 'home' %}" class="menu-logo">
        <span class="logoA">Ani</span><span class="logoD">meDiary</span>
    </a>
    <a href="{% url 'home'%}" class="menu-items">Home</a>
    <a href="{% url 'myanimes'%}" class="menu-items">MyDiary</a>
    <a href="{% url 'subscription'%}" class="menu-items">Subscribe</a>
    <a href="{% url 'about'%}" class="menu-items">About</a>
    
   {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <a href="{% url 'account_logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'account_login' %}">Login</a> |
    <a href="{% url 'account_signup' %}">Sign Up</a> |
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}
    
</header>