{%extends 'app_general/components/base.html'%}
{%block site_title%}My Anime list{%endblock%}
{%block content%}

<div>
    <h1>My Anime list</h1>
    {%for anime in myanimes%}
        <div style="background-color: rgb(206, 230, 242);">
            <h2><a href="{% url  'anime' anime.id %}">{{anime.title}}</a><br></h2>
            <p>Score = 10/{{anime.score}} </p>
            {%if anime.status%}
                <p>***** ดูจบแล้ว *****</p>
            {%endif%}
            <p>ลงวันที่ {{anime.Date_post|date:'j N Y'}}</p>
        </div>
        
    {%empty%}
        <p>nodddthing</p>    
    {%endfor%}
</div>
{%endblock%}
